html, body {
    height: 100%;
    overflow: auto;
}

footer{
    position:fixed;
    bottom:0;
    height: 50px;
    width: 100%;
    line-height: 50px;
}

body{
    background-image: url("../Images/SSObackground.png");
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.navbar-brand{
    font-size: 50px;
    position: absolute;
    width: 100%;
}
.buttonhere {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    border-radius: 15px;
    font-size:  large;
  }
