/* addtickets.html start*/
html,body {
  height: 100%;
  overflow: auto;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
/* addtickets.html end*/

/* technicians.html start*/
th {
  background-color: rgb(184, 212, 243)
}
.dot {
  height: 100px;
  width: 100px;
  background-color: rgb(75, 233, 114);
  border-radius: 50%;
  display: inline-block;
}
.dot1 {
  height: 100px;
  width: 100px;
  background-color: rgb(204, 56, 56);
  border-radius: 50%;
  display: inline-block;
}
.col {
  margin-left:  100px
}
.button1 {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 75%;
}
.button2 {
  background-color: rgb(228, 68, 47);
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 75%;
}
/* technicians.html end */
