/* addtickets.html start*/
html, body {
    height: 100%;
    overflow: auto;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  /* addtickets.html end*/
  
  /* technicians.html start*/
  .navbar-brand{
    font-size: 50px;
 }
  th {
    background-color: rgb(184, 212, 243)
  }
  .jumbotron{
    width: 600px;
    background: white;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -70px 0 0 -170px;
}
  .col {
    margin-left:  100px
  }
  .button1 {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 75%;
  }
  .button2 {
    background-color: rgb(228, 68, 47);
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 75%;
  }

  #buttonhere {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    border-radius: 15px;
    font-size: large;
  }



  /* technicians.html end */
  