footer{
    position: sticky;
    bottom: 0;
    height: 50px;
    width: 100%;
    line-height: 50px;
}

body{
    background-image: url("../Images/create.PNG")
}
    
.jumbotron{
    width: 600px;
    background: white;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -70px 0 0 -170px;
}
#article-title, #article-body {
  display: block;
  margin: 5px 0;
}

#article-btn, .authors {
  height: 40px;
  width: 100px;
  background: lightblue;
  color: red;
  border-radius: 3px;
  margin: 5px 0;
}

.authors {
  height: 25px;
}

#filter-btn {
  height: 25px;
  width: 100px;
  background: darkgray;
  border-radius: 3px;
  margin: 5px 0;
}

#articles div {
  padding: 10px;
  margin: 10px;
  border: black 2px solid;
}
th {
  background-color: rgb(75, 154, 245)
}
.dot {
  height: 50px;
  width: 50px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}